.about-link{
  font-weight: bold;
  font-size: 14px;
  color:var(--color-fourth);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.about-link.-light{
  color:var(--color-zero)
}